@charset "utf-8";
/* header-start */
header{
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 80px;
 background: #fff;
 z-index: 100;
}
.header_center{}
h1{
    position: absolute;
    top: 10px;
    left: 8.333%;
    width: 120px;
    height: 45px;
    z-index: 5;
 
}
h1>a{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/loge.png) no-repeat center/cover;
    text-indent: -9999px;
    
}
.m_btn{
    position: absolute;
    top: 20px;
    right: 6.666%;
    width: 36px;
    height: 36px;
    z-index: 100;
}
.m_btn>span{
    position: absolute;
    top: 6px;
    left: 0;
    width: 36px;
    height: 3px;
    border-radius: 2px;
    background: #063E66;
    text-indent: -9999px;
}
.m_btn>span:nth-child(2){
    top: 17px
}
.m_btn>span:nth-child(3){
    top: 28px;
}
.search_wrap{
    display: none;
}
.s_btn{}
.nav_wrap{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding:130px 0;
    background: url(../img/backgrond.jpg) no-repeat center/cover;
}
nav{
    width: 100%;
}
.gnb{
    width: 100%;
}
.gnb>li{
    width: 100%;
    height: 95px;
    padding: 35px;
    border-bottom: 3px solid #B1B1B1;
}
.gnb>li>a{
    display: block;
    width: 100%;
    height:100%;
    font-size: 1.8rem;

}
.gnb>li>ul li{
    display: none;
}
/* header-end */
/* main-start */
main{
    width: 100%;
    margin-top: 80px;
}
.m_img{
    width: 100%;
    height:700px
}
.img{
    width: 100%;
    height: 100%;
    background: url(../img/main_img.jpg) no-repeat center/cover;
    text-indent: -9999px;
}
/* main-end */
/* 브랜드 -start */
.brand{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 200px;
}
.brand_wrap{
    width: 82.22%;
    margin: 0 auto;
}
.brand_wrap h3{
    font-size: 2.5rem;
    line-height: 1.2em;
    font-weight: 500;
    margin-bottom: 20px;
}
.brand_wrap p{
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.285em;
    word-break: keep-all;
}
.text_wrap{
     width: 100%;
     height: 100%;
     margin-bottom: 90px;
}
.text_wrap>h2{
    font-size: 4.8rem;
    font-weight: 800;
    margin-bottom: 18px;
}
.text_wrap>p{
    font-size: 1.5rem;
    line-height: 1.2em;
    
}
.text_wrap span{
    color: #5E8FCD;
}
.brand_section{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
}
.brand_section>p>br{
    display: none;
}
.brand_section>.round_img{
    margin-top: 20px;
}
.CEO_section{
    width: 100%;
    margin-bottom: 70px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.CEO_right{
    width: 58.904%;
}
.CEO_right>p>br{
    display: none;
}
.history_section{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.history_right{
    width: 54.10%;
}
.round_img{
    width:45%;
    height: 100%;
}
.round_img>img{
    width: 100px;
}
.brand_right{
    width: 53.76%;
}
/* 브랜드 -end */
/* 디자인 룩북 -start*/
.design_look_book{
    width: 100%;
    height: 650px;
    margin-top: 200px;
    position: relative;
    padding-top: 75px;
    overflow: hidden;
}
.design_wrap{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    margin-left: 8.88%;
}
.design_background{
    width: 100%;
    height: 470px;
    background: #EBEBEB;
    position: absolute;
    top:0;
    left: 0;
}
.text_design{
    width:100%;
    margin-bottom: 35px;
}
.text_design>p{
    width: 100%;
    font-size: 2.6rem;
    line-height: 1.230em;
    font-weight: 500;
}
.text_design>p>i{
    font-style: normal;
    display: inline-block;
}
.text_design>span{
    display: block;
    font-size: 2.6rem;
    line-height: 1.230em;
    font-weight: 500;
    color: #5E8FCD;
}
.text_design>b{
    display:block;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.285em;
    margin-bottom: 35px;
    margin-top: 10px;
}
.text_design>a{
    display: inline-block;
    width: 120px;
    height: 50px;
    background: #000;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    line-height: 50px;
    font-weight: 200;

}
.design_slider{
    width: 100%;
    height: 100%;
 
}
.design_slide{
    width: 1920px;
    height: 100%;
    display: flex;
}

.d_slide {
    flex: 0 0 auto;
    width: 290px; 
    height: 380px; 
    background-size: cover; 
    background-position: center; 
    text-indent: -9999px;
}

/* 개별 슬라이드 이미지 */
.d_slide01 { background-image: url('../img/in_img2.jpg'); }
.d_slide02 { background-image: url('../img/in_img3.jpg'); }
.d_slide03 { background-image: url('../img/in_img4.jpg'); }
.d_slide04 { background-image: url('../img/in_img5.jpg'); }
.d_slide05 { background-image: url('../img/in_img6.jpg'); }

/* 디자인 룩북 -end*/
/* all 바른 디자인 -start*/
.all_section{
    width: 100%;
    height:100%;
    margin-top: 200px;
}
.all_wrap{
    width: 83.33%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.all_wrap>h2{
    font-size: 4rem;
    line-height: 1.2em;
    font-weight: 600;
    word-break: keep-all;
    margin: 0 auto;   
}
.all_wrap>h2 br{
   
}
.all_wrap>h2>i{
    font-style: normal;
    color: #5E8FCD;
}
.all01{
    width: 100%;
    margin-top: 130px;
}
.all01>.all_img{
    width: 100%;
    height: 380px;
    background: url(../img/원단.jpg) no-repeat center/cover;
    margin: 0 auto;
    border-radius: 50px;
    text-indent: -9999px;
}
.all_text01{
    width: 100%;
    margin-top: 35px;
}
.all_text01>br{
    display: none;
}
.all_text01>h3{
    font-size: 2.6rem;
    line-height: 1.23em;
    font-weight: 600;
}
.all_text01>h3>span{
    display: block;
    color: #5E8FCD;
}
.all_text01>p{
    margin-top: 25px;
    font-size: 1.4rem;
    line-height: 1.285em;
    font-weight: 500; 
    word-break: keep-all;
}
.all_text01>a{
    display: block;
    width: 120px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    background: #000;
    color: #fff;
    font-size: 1.4rem;
    line-height: 50px;
    font-weight: 200;
}
.all02{
    width: 100%;
    margin-top: 100px;
}
.all02>.all_img{
    width: 100%;
    height: 380px;
    background: url(../img/원단2.jpg) no-repeat center/cover;
    margin: 0 auto;
    border-radius: 50px;
    text-indent: -9999px;
}
.all_text02{
    width: 100%;
    margin-top: 35px;
}
.all_text02>br{
    display: none;
}
.all_text02>h3{
    font-size: 2.6rem;
    line-height: 1.23em;
    font-weight: 600;
}
.all_text02>h3>span{
    display: block;
    color: #5E8FCD;
}
.all_text02>p{
    margin-top: 25px;
    font-size: 1.4rem;
    line-height: 1.285em;
    font-weight: 500;
    word-break: keep-all;
}
.all_text02>a{
    display: block;
    width: 120px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    background: #000;
    color: #fff;
    font-size: 1.4rem;
    line-height: 50px;
    font-weight: 200;
}

.all03{
    width: 100%;
    margin-top: 100px;
}
.all03>.all_img{
    width: 100%;
    height: 380px;
    background: url(../img/원단3.jpg) no-repeat center/cover;
    margin: 0 auto;
    border-radius: 50px;
    text-indent: -9999px;
}
.all_text03{
    width: 100%;
    margin-top: 35px;
}
.all_text03>br{
    display: none;
}
.all_text03>h3{
    font-size: 2.6rem;
    line-height: 1.23em;
    font-weight: 600;
    word-break: keep-all;
}
.all_text03>h3>span{
    color: #5E8FCD;
}
.all_text03>p{
    margin-top: 25px;
    font-size: 1.4rem;
    line-height: 1.285em;
    font-weight: 500;
   
}
.all_text03>a{
    display: block;
    width: 120px;
    height: 50px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    background: #000;
    color: #fff;
    font-size: 1.4rem;
    line-height: 50px;
    font-weight: 200;
}
 /* all 바른 디자인 -end*/
 /* tip -start */
.tip{
    position: relative;
    width: 100%;
    height: 350px;
    margin-top: 200px;
    background: url(../img/TIP.jpg) no-repeat center/cover;
}
.tip_text{
    position: absolute;
    top: 143px;
    width: 100%;
    text-align: center;
    color: #fff;
}
.tip_text>span{
    font-size: 2.6rem;
    line-height: 1.153em;
    font-weight: 500;
}
.tip_text>h2{
    font-size: 3.6rem;
    line-height: 1.5em;
    font-weight: 500;
}
/* tip -end */
 /* ALl 바른 학생복, ALl 바른생각 -start*/
.DRIPPIN_look_book{
    width: 100%;
    background: url(../img/backgrond.jpg) no-repeat center/cover;
    margin-top: 200px;
    padding-top: 50px;
    padding-bottom:20px;
}
.DRIPPIN_wrap{
    width: 100%;
    height: 100%;
    text-align: center;
    
}
.drippin_header_text{
    width: 208px;
    height: 100%;
    margin: 0 auto;
   
}
.drippin_header_text>p{
    font-size: 3rem;
    line-height: 1.2em;
    font-weight: 500;
}
.drippin_header_text>p>i{
    font-size: 2rem;
    line-height: 1.4em;
    font-style: normal;
    display: block;
}
.drippin_header_text>span{
    font-size: 4rem;
    line-height: 1.2em;
    font-weight: 500;
    color: #5E8FCD;
    display: block;
    margin-bottom: 15px;
}

.drippin_header_text>b{
    font-size: 1.4rem;
    line-height: 1.28em;
    font-weight: 400;
    font-style: normal;
}
.drippin_header_text>b>br{
    display: none;
}
.drippin_header_text>a{
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 35px;
    margin-top: 45px;
    background: #000;
    color: #fff;
    font-size: 1.2rem;
    line-height: 35px;
    font-weight: 200;
}
.drippin_slide_wrap01{
    width: 100%;
    height: 100%;
    margin-top: 55px;
    margin-bottom: 10px;
    
}
.drippin_slider01, .drippin_slider02{
    width: 100%;
    height: 250px;
  
}
.drippin_slide_wrap01>div, .drippin_slide_wrap02>div{
    transition-timing-function: linear;
}
.drippin_slide1-1{
    width: 200px;
    height: 250px;
    background: url(../img/in_img5.jpg) no-repeat center/cover;
    text-indent: -9999px;
}
.drippin_slide1-2{
    width: 200px;
    height: 250px;
    background: url(../img/in_img6.jpg) no-repeat center/cover;
   
    text-indent: -9999px;
}
.drippin_slide1-3{
    width: 200px;
    height: 250px;
    background: url(../img/in_img7.jpg) no-repeat center/cover;
    text-indent: -9999px;
}
.drippin_slide_wrap02{
    width: 100%;
    height: 100%;
}

.drippin_slide2-1{
     width: 200px;
    height: 250px;
    background: url(../img/in_img8.jpg) no-repeat center/cover;
    text-indent: -9999px;
}
.drippin_slide2-2{
     width: 200px;
    height: 250px;
    background: url(../img/in_img4.jpg) no-repeat center/cover;
    text-indent: -9999px;
}
.drippin_slide2-3{
     width: 200px;
    height: 250px;
    background: url(../img/in_img3.jpg) no-repeat center/cover;
    text-indent: -9999px;
}
.all_page{
    width: 100%;
    margin-top: 200px;
    text-align: center;
    padding:0 6.65% 0 6.75%;;
}
.all_page_wrap{
    width: 100%;
    height: 100%;
    
   
}
.all_page_wrap>h2{
    font-size: 4rem;
    line-height:1.2em;
    margin-bottom: 50px;
    font-weight: 600;
}
.all_page_wrap>h2>i{
    font-style: normal;
    color: #5E8FCD;
}
.all_page_wrap>br{}
.all_page_btn_box{
    width: 42.90%;
    height: 30px;
    margin-left: 16.89%;

}
.all_page_btn_box button{
    font-size: 1.8rem;
    margin-right: 28px;
    line-height: 1.16em;
    font-weight: 500;
    color: #6666;
    cursor: pointer;
}
.all_page_btn_box button.active{
    padding-bottom: 10px;
    border-bottom: #000 solid 1px;
    color: #000;
    
}
.all_page_btn_box button:nth-of-type(2){
    margin-right: 0px;
}

.all_slide_wrap{
    width:100%;
    margin-top: 45px;
}
.all_list_box{
    width:100%;
}
.all_list{
    width:100%;
    display: none;
}
.all_ul{
    width:100%;
}
.all_li{
    width:100%;
}
.all_li>button{
   
}
.all_slider_wrap{
    width:100%;
}
.all_slider{
    display: flex;
    width: 100%;
}
.all_slide01, .all_slide02, .all_slide03
{
    
    width: 100%;
}
.text_all{
    width: 100%;
    
}
.text_all>h3{
    font-size: 1.8rem;
    line-height: 1.66em;
    font-weight: 500;
}
.text_all>p{
    font-size: 1.4rem;
    line-height: 1.214em;
}
.text_all::before{
    content: '';
    width:215px;
    height: 350px;
    background: url(../img/원단2.jpg) no-repeat center/cover;
    display: block; 
    margin: 0 auto;
    margin-bottom: 25px;
}
#slick-slide-control00, #slick-slide-control01,
#slick-slide-control02{
    display: none;
}
.slick-arrow
{
    display: none;
    color: black;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    position: absolute;
    top: 145px;
  
}
.slick-arrow:nth-of-type(1){
    left: 20px;
    background: url(../img/prev.png) no-repeat center/cover
    ;

}
.slick-arrow:nth-of-type(2){
    width: 30px;
    height: 30px;
    right: 20px;
    background: url(../img/next.png) no-repeat center/cover;
    
}
.all_page .slick-prev {
    z-index: 10;
}
/* ALl 바른 학생복, ALl 바른생각 -end*/
/* 인스타 -start */
.instargram{
    width: 100%;
    margin-top: 200px;
   
}
.instargram_wrap{
    width: 100%;
    height: 100%;
   padding-top: 75px;
    margin: 0 auto;
    text-align: center;
    background: #EBEBEB;
}
.instargram_wrap>h2{
    font-size: 2.6rem;
    line-height: 1.192em;
    color: #5E8FCD;
    font-weight: 600;
 
}
.instargram_wrap>a{
    display: block;
    font-size: 1.4rem;
    line-height: 1.214em;
    color:#606060 ;
    font-weight: 600;
    margin-top: 25px;
}
.in_wrap{
    width: 100%;
    padding: 40px 3.37% 140px 3.37%; 
}
.in_img{
    width: 275px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin: 0 auto;
    margin-bottom: 90px;
}
.in_img>li{
    width: 130px;
    margin-bottom: 15px;
}
.in_img>li:nth-of-type(2){
    margin-right: 0;
}
.in_img>li:nth-of-type(4){
    margin-right: 0;
}
.in_img>li>a{
    display: block;
    width: 100%;
    height: 100%;
}
.in_img>li>a>img{
    width: 130px;
}
.in_img > li:nth-child(5) > a {
    display: none;
}
.in_img > li:nth-child(6) > a {
    display: none;
}
/* 인스타 -end*/
/* footer -start */
footer{
    width: 100%;
    margin-top: 200px;
    background: #536A88;
    
}
.footer_wrap{
    padding: 13.59% 8.15% 8.15% 8.15%;

}
.footer_img_wrap{
    width: 177px;
    height: 66px;
    
}
.sns{
    width:103px;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
}
.sns a{
    display: block;
    
}
.sns a:nth-child(1) img{
    width: 20px;
    height: 20px;
    
}
.sns a:nth-child(2) img{
    width: 15px;
    height: 19px;
}
.sns a:nth-child(3) img{
    width: 18px;
    height: 18px;
}
.sns a:nth-child(4) img{
    width: 22px;
    height: 15px;
}
.foot_text{
    margin-top: 10px;
}
.foot_text>p{
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.21em;
    font-weight: 300; 
    word-break: keep-all
}
.foot_text>p br{
    display: none;
}
.foot_text>p:nth-of-type(2){
    margin-top: 25px;
}
/* footer -end*/